<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />       
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />    
    <meta name="description" content="Descargá videos de TikTok, Instagram, YouTube y más. Gratis, rápido y sin marcas de agua."/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lexend:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css" />
    <title>Descargalo.com.ar - Descargador de Videos</title>    
  </head>

  <body>  
    <header>
      <div class="logo">Descargalo</div>
      <nav id="nav-links">
        <a href="#inicio">Inicio</a>
        <a href="#como">Cómo Funciona</a>
        <a href="#features">Funciones</a>
        <a href="{{ url_for('terms') }}">Términos</a>
      </nav>
      <div class="menu-toggle" onclick="toggleMenu()">☰</div>
    </header>

    <section class="container" id="inicio">
      <h2>Descargá videos de tus redes&nbsp;favoritas</h2>
      <p style="margin: 5px;">Pegá el enlace del video que querés bajar</p>
      <div class="box">
        <input type="text" id="videoURL" placeholder="https://..." />
        <button onclick="descargar()">Descargar</button>
      </div>
      
      <!-- <p id="status"></p> -->
    </section>

    <section class="download-card" id="como">
      <h2>Cómo descargar videos y&nbsp;fotos</h2>
      <ol>
        <li>Abrí tu red social y copiá el enlace del video&nbsp;o&nbsp;foto.</li>
        <li>Pegalo en el campo superior.</li>
        <li>Presioná "Descargar" y listo.</li>
      </ol>
    </section>

    <section class="features-section" id="features">
      <h2>Funciones destacadas</h2>
      <ul>
        <li>📽️ Reels en alta resolución sin marcas.</li>
        <li>📐 Elegí calidad y dimensión del archivo.</li>
        <li>🌐 Soporte para múltiples plataformas.</li>
        <li>🔒 No almacenamos datos personales.</li>
      </ul>
    </section>

    <section class="terms-container">
      <h2>Uso responsable</h2>
      <p>
        Esta herramienta fue creada para facilitar la descarga de contenido
        propio.<br>
        Leé nuestros <a href="{{ url_for('terms') }}">Términos y Condiciones</a>.
      </p>
    </section>

    <footer>&copy; 2025 Descargalo.com.ar</footer>

    <script src="/static/sweetalert2.min.js"></script>
    <script src="/static/confetti.min.js"></script>
    <script src="/static/script.js"></script>
  </body>
</html>
