<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="test/styles.css">
    <title>Descargalo.com.ar</title>
</head>
<body>
    <main class="container">
        <header>
            <div class="nav-bar">
                <div class="logo"></div>
                <nav class="menu">
                    <ul>
                        <li>Inicio</li>
                        <li>Acerca</li>
                        <li>Servicios</li>
                        <li>Contacto</li>
                        <li>Descarga</li>
                    </ul>
                </nav>
            </div>  
        </header>

        <div class="hero">
            <h1>Videos al Instante<br>Tu Solucion</h1>
            <div class="box">
                <div class="input">
                    <input type="text" id="videoURL" placeholder="https://..." />
                    <button onclick="descargar()">Descargar</button>
                </div>
                <div class="image">
                    <img src="../test/assets/man_lampara.jpg" alt="man y lampara">
                </div>                 
            </div>
        </div>

        <section>
            <h2>Acerca de Nosotros</h2>
            
        </section>




    </main>
    
</body>
</html>